.modalinput {

    width: 90%;
    height: 38px;
    border-radius: 15px;
    border-color: rgba(167, 167, 167, 0.568);
    padding-inline: 5%;
    font-size: 18px;
}

.edit-delete-buttons {
    
    text-align: center;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: black;
    background-color: rgb(240, 238, 239);
    font-size: 10px;
    cursor: pointer;
}

.edit-delete-buttons:hover {
    background-color: rgba(200, 200, 200, 0.512);
}
.edit-save-buttons {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: black;
    background-color: rgb(240, 238, 239);
    font-size: 10px;
    cursor: pointer;
}

.edit-save-buttons:hover {
    background-color: rgba(200, 200, 200, 0.512);
}