.leftPic{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 157px;

    height: 157px;

    background-color: rgb(239, 239, 239);
}

.rightpic1{
        margin-left: 2.4px;
    border-top-right-radius: 10px;
    width: 76.66px;
    height: 76.5px;
    margin-bottom: 3px;
                        background-color: rgb(239, 239, 239);
}
.rightpic2{
        margin-left: 2.4px;
    border-bottom-right-radius: 10px;
    width: 76.66px;
    height: 77.5px;
        margin-top: 3px;
                            background-color: rgb(239, 239, 239);
}
.boardCoverPictures{
    display: flex;
    flex-direction: row;
    /* margin-top: 20px; */
}

/* .rightcol{ */
    /* justify-content: space-between;     */
    /* display: flex; */
    /* flex-direction: row; */
/* } */
.boardPictureContainer{
    display: inline-block;
    margin-right: 20px;
    height: 252px;
    width: 230px;
}

.greybg{
    background-color: grey;
}
.boardCoverName{
    font-size: 20px;
    /* font-weight: semi-bold; */
    text-align: left;
    padding: 8px;
}